@import "./variables";

.post a {
  color: inherit;
}

.post a:focus, .post a:hover {
  text-decoration: none;
  color: $fluster-peach1;
}

.post h2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post h3 {
  font-weight: 300;
  margin: 0 0 10px;
}

.post p:first-of-type {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: $medium-gray;
}

.post p:first-of-type > a {
  text-decoration: none;
  color: #212529;
}

.post p:first-of-type > a:focus, .post p:first-of-type > a:hover {
  text-decoration: underline;
  color: $fluster-peach1;
}

@media only screen and (min-width: 768px) {
  .post h2 {
    font-size: 36px;
  }
}
