// Variables

// Gray and Brand Colors for use across theme

$fluster-peach1: #feb79c;
$fluster-peach2: #ff8ea3;
$fluster-peach3: #ff65a9;

$fluster-grey-blue: #575470;
$fluster-dark-blue: #2d294c;
$fluster-midnight-blue: #221f39;

$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%); // #222
$gray-dark: lighten($gray-base, 20%); // #333
$gray: lighten($gray-base, 33.5%); // #555
$medium-gray: #cbcbcb;
$gray-light: lighten($gray-base, 46.7%); // #777
$gray-lighter: lighten($gray-base, 93.5%); // #eee

$facebook: #3b5998;

$brand-twitter: #1da1f2;
$brand-facebook: #3b5998;
$brand-google-plus: #dd4b39;
$brand-instagram: #8a3ab9;

$my-font-family: 'Lato';
