@import "../../../theme/variables";
@import "../../../theme/mixin";

@import "../../../theme/blog";

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: $fluster-peach3;
  background-attachment: scroll;
  background-image: url('/assets/blog/img/post/home-blog.jpg');
  position: relative;
  @include background-cover();

  @media (min-width: 576px) {
    min-height: inherit;
  }
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include fluster-linear-gradient(to bottom right, $fluster-peach1, $fluster-peach3);
  opacity: 0.5;
}

header.masthead .site-heading h1 {
  background: white;
  color: $fluster-peach3;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

div.blog-summary {
  padding-bottom: 100px;
}

.post p {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: $medium-gray;
}

.post p > a {
  text-decoration: none;
  color: #212529;
}

.post p > a:focus, .post p > a:hover {
  text-decoration: underline;
  color: $fluster-peach1;
}
